@import './reset.scss';
@import './base.scss';
@import './fonts.scss';

#app {
  max-width: 925px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@media print {
  #app {
    padding: 0rem;
    font-size: 12px;
  }

  @page {
    margin: 0.5rem;
    line-height: 1;
  }
}
